@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jomhuria&family=Poppins:wght@600&display=swap");

.container {
  background: rgb(242, 242, 242) none repeat scroll 0% 0% / auto padding-box
    border-box;
  padding: 48px;
  text-align: center;
}

.mainContainer {
  background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box
    border-box;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 30px 0px;
  height: 695px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  width: 70vw;
}

.title {
  color: rgb(71, 68, 68);
  font-family: "Jomhuria", serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  margin-top: 16px;
}

.components {
  display: inline-flex;
  gap: 48px;
  margin: 1rem auto auto;
}

.signupBtn {
  box-shadow: rgba(0, 25, 255, 0.24) 0px 0px 50px 0px;
  background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box
    border-box;
  border: 0px none rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 64px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.loginBtn {
  background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box
    border-box;
  border: 0px none rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 64px;
  font-family: "Poppins", sans-serif;
  text-decoration: yellowgreen;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  width: 32rem;
}

.name {
  display: flex;
  justify-content: flex-end;
  font-family: "Poppins", sans-serif;
}

.nameText {
  margin-right: 32px;
}

.nameInputBox {
  background: rgb(244, 244, 244) none repeat scroll 0% 0% / auto padding-box
    border-box;
  border: 0px none rgb(0, 0, 0);
  border-radius: 6.8px 6.8px 0px 0px;
  padding: 7px;
  width: 20rem;
}

.email {
  display: flex;
  justify-content: flex-end;
  font-family: "Poppins", sans-serif;
}

.emailText {
  margin-right: 32px;
}

.emailInputBox {
  background: rgb(244, 244, 244) none repeat scroll 0% 0% / auto padding-box
    border-box;
  border: 0px none rgb(0, 0, 0);
  border-radius: 6.8px 6.8px 0px 0px;
  padding: 7px;
  width: 20rem;
}

.password {
  display: flex;
  justify-content: flex-end;
  font-family: "Poppins", sans-serif;
}

.passwordText {
  margin-right: 32px;
}

.passwordInputBox {
  background: rgb(244, 244, 244) none repeat scroll 0% 0% / auto padding-box
    border-box;
  border: 0px none rgb(0, 0, 0);
  border-radius: 6.8px 6.8px 0px 0px;
  padding: 7px;
  width: 20rem;
}

.confirmPassword {
  display: flex;
  justify-content: flex-end;
  font-weight: 900;
  font-size: large;
}

.confirmPasswordText {
  margin-right: 32px;
}

.confirmPasswordInputBox {
  background: rgb(244, 244, 244) none repeat scroll 0% 0% / auto padding-box
    border-box;
  border: 0px none rgb(0, 0, 0);
  border-radius: 6.8px 6.8px 0px 0px;
  padding: 7px;
  width: 20rem;
}

.submitBtn {
  background: rgb(169, 188, 255);
  border: 0px none rgb(255, 255, 255);
  border-radius: 8px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  margin: 1rem auto auto;
  padding: 8px 112px;
  transition-duration: 0.4s;
  width: fit-content;
  font-family: "Poppins", sans-serif;
}
